
/* carousal section */

.swiper-wrapper .swiper-slide {
  height: 90vh;
}
.swiper-wrapper .slide-1 {
  background: url(https://cdn.pixabay.com/photo/2016/06/24/22/24/solar-panels-1477987_1280.jpg) center/cover no-repeat;
}

.swiper-wrapper .slide-2 {
  background: url(https://cdn.pixabay.com/photo/2023/09/10/11/16/solar-8244680_1280.jpg) center/cover no-repeat;
}

.swiper-wrapper .slide-3 {
  background: url(https://engineersealstamps.com/cdn/shop/products/new-mexico-land-surveyor-seal-stamp-in-use-1_1600x.jpg?v=1626980114) center/cover no-repeat;
}

.swiper-wrapper .slide-4 {
  background: url(https://images.unsplash.com/photo-1583345237708-add35a664d77?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center/cover no-repeat;
}

.carousal-section-half {
  margin: auto;
  justify-content: center;
  flex-direction: column;
  width: 60rem;
  height: 100%;
}

.carousal-section-half h1 {
  font-size: 3rem;
  color: black;
  text-align: center;
}

.carousal-section-half p {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  font-weight: 500;
}

.carousal-section-half a {
  text-decoration: none;
  border: solid 2px black;
  border-radius: 5px;
  color: black;
  font-weight: 500;
}

.carousal-section-half a:hover {
  border: solid 2px #FC7E08;
  color: #FC7E08;
}
.carousal-section-half h6{
  font-size: 1rem;

}
.carousal-section-half h6 a {
  text-decoration: none;
  border: solid 2px #FC7E08;
  border-radius: 5px;
  color: #FC7E08;
  font-weight: 500;
}

.carousal-section-half h6 a:hover {
  border: solid 2px #FED801;
  color: #FED801;
}

/* <!-- Achivements section----------------------------------------- --> */

.achivement-box {
  margin: 10px 0 10px 0;
  background-image: linear-gradient(to right, #FED801, #FDE46F, #FED801);
}

.achivemenr-box-head {
  margin: auto;
  text-align: center;
}

.achivemenr-box-head h1 {
  color: black;
  font-size: 2rem;
}

.achivement-box-content {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.achivement-card {
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 35vh;
  margin: 10px 30px;
  background-color: #FED801;
  text-align: center;
  border-radius: 5px;
}

.achivement-card:hover {
  transform: translateY(1px);
  transition: all ease 0.2s;
  box-shadow: 0px 3px 15px black;
}

.achivement-card i {
  font-size: 4rem;
}

.achivement-card h4 {
  color: black;
  font-size: 1.5rem;
}

.achivement-card p {
  color: black;
  font: 1rem;
}

/* <!-- Services section-------------------------------------------- --> */

.services {
  width: 100%;
  background-image: linear-gradient(to right, #d9d8cf, #828178, #d9d8cf);
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 0;
}

.services a {
  text-decoration: none;
}

.service-head {
  text-align: center;
}

.service-head h1 {
  color: black;
  font-size: 2rem;
}

.service-card {
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  height: 300px;
  overflow: hidden;
}

.service-card-1 {
  background: url(https://images.unsplash.com/photo-1611365892117-00ac5ef43c90?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center/cover;
}

.service-card-2 {
  background: url(https://heavendesigns.in/wp-content/uploads/2019/12/pic13-1024x542.jpeg) center/cover;
}

.service-card-3 {
  background: url(https://www.finulent.com/wp-content/uploads/2022/07/stamp-1-1.jpg) center/cover;
}

.bottom-para {
  height: 50%;
  background-image: linear-gradient(to right, #FED801, #FDE46F, #FED801);
  transform: translateY(150px);
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  justify-content: flex-start;
}

.service-card:hover .bottom-para {
  transform: translateY(30px);
}

.service-card h1 {
  color: black;
  font-size: 2rem;
}

.service-card p {
  color: black;
  font-size: 1rem;
}

/* home contact from section-----------------------------------------------
 */

.home-contact-form {
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}