@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400&family=Signika+Negative&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

html {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* utility classes----------------------------- */
.flex {
  display: flex;
  align-items: center;
}

.m-5 {
  margin: 5px;
}

.p-5 {
  padding: 5px;
}

.m-10 {
  margin: 10px;
}

.p-10 {
  padding: 10px;
}

.brd-1 {
  border: solid 1px rgb(128, 23, 23);
}



/* navbar section----------------- */

#header {
  width: 100%;
  height: 60px;
  background-color: #ffff;
  justify-content: space-between;
  z-index: 999;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
  position: sticky;
  top: 0;
  left: 0;
}

.logo-part {
  justify-content: center;
}

.logo-part .logo {
  width: 55px;
  height: 50px;
}

.logo-part .intro {
  width: 235px;
  height: 50px;
}

#navbar {
  justify-content: right;
  height: 100%;
}

#navbar li {
  list-style: none;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#navbar li a:hover {
  width: 100%;
  color: #FC7E08;
}

#hamburger {
  display: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#close {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: none;
}


/* banner section==------------------------------- */

.banner {
  width: 100%;
  height: 70vh;
  margin-bottom: 25px;
}

.shade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #000000, #00000097, #01010100);
}

.banner-container {
  width: 60%;
}

.banner-head h1 {
  color: white;
  font-size: 4rem;
}

/* intro to company------------------------ */

.intro-box {
  width: 100%;
  justify-content: center;
}

.intro-box-common {
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 30rem;
}

.intro-box-common h1 {
  font-size: 1.7rem;
  color: black;
}

.intro-box-common p {
  font-size: 1rem;
  color: black;
}

.intro-box-common ul {
  text-align: left;
}

.intro-box-common ul li {
  color: black;
  font-size: 1.1rem;
}

.intro-box-common ul li:hover {
  color: #FC7E08;
  text-decoration: underline;
}

.intro-box-common .service-button a {
  font-size: 1rem;
  border: solid 2px black;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

.intro-box-common .service-button a:hover {
  color: #FC7E08;
  border: 2px solid #FC7E08;
}


.intro-box-1 {
  background-color: #FDE46F;
}

.intro-box-2 img {
  width: 100%;
  height: 100%;
}


/* contact us section----------------- */

.contact-container {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1613665813446-82a78c468a1d?q=80&w=2058&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center/cover fixed;
  text-align: center;
}

.contact-container h1 {
  color: #FC7E08;
}

.contact-container h3 a {
  border: solid 1px #FED801;
  text-decoration: none;
  color: #FED801;
  border-radius: 5px;
}

.contact-container h3 a:hover {
  border: solid 1px #FC7E08;
  color: #FC7E08;
}



/* footer section------------------------------ */
/* ---------------------------------------------------------------- */

.footer {
  background-color: #2d2d2d;
  justify-content: space-evenly;
}

.footer-section-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 30px 10px;
}

.column-common {
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;
}

.column-common h2 {
  font-size: 1.5rem;
  color: white;
}

.column-common h3 {
  font-size: 1rem;
  color: #828178;
}

.column-common h3 a {
  text-decoration: none;
  color: white;
  font-weight: 200;
}

.column-common ul {
  list-style: none;
}

.column-common ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.column-common a:hover {
  color: #FC7E08;
  text-decoration: underline;
}

.column-3 {
  width: 300px;
}

.contact-footer-info h3 {
  padding: 5px;
}

.column-4 {
  height: 100%;
  justify-content: center;
  margin: 20px 5px;
}

.column-4 .footer-logo {
  height: 115px;
  width: 130px;
}

.column-4 .footer-intro-name {
  width: 185px;
  height: 45px;
}

.copyright {
  width: 100%;
  text-align: center;
  border-top: solid 0.1px black;
  background-color: #2d2d2d;
}

.copyright h1 {
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

/* developres section------------------------------------------------------------------------- */

.developer-content {
  flex-direction: column;
  justify-content: flex-start;
  background-color: #2d2d2d;
  border-top: solid 0.1px black;
  width: 100%;
}

.developer-content h1 {
  color: white;
  font-size: 1.1rem;
}

.developer-info {
  justify-content: flex-start;
}

.dev-common h1 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.dev-common h1 a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.dev-common p {
  color: white;
  font-size: 1rem;
}

.dev-common p a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.dev-common h1 a:hover {
  text-decoration: underline;
  color: #FC7E08;
}

.dev-common p a:hover {
  text-decoration: underline;
  color: #FC7E08;
}


.dev-2 {
  text-align: right;
}

/* contact form/============================================================================== */

.contact-container-external {
  width: 100%;
  justify-content: center;
  margin: 20px 0;
}

.contact-content-box {
  justify-content: center;
  width: 65rem;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.532);
  overflow: hidden;
  margin: 20px 0px;
}

.contact-info-container {
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 30%;
  background-image: linear-gradient(to bottom right, #d9d8cf, #828178, #828178, #d9d8cf);
}

.info-box {
  margin: 10px 5px;
}

.info-box h3 {
  font-size: 1rem;
  color: black;
}

.info-box h3 a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.info-box h3 a:hover {
  color: #FC7E08;
  text-decoration: underline;
}

.info-box-head i {
  font-size: 2.5rem;
}

.info-box-head h1 {
  color: black;
  font-size: 1.5rem;
}

.info-box a {
  text-decoration: none;
  color: #1e3050;
}

.contact-form-container-internal {
  background-color: #ffff;
  width: 70%;
  height: 100vh;
}

.contact-form-container-internal h1 {
  color: black;
  font-size: 2.5rem;
  margin: 10px 5px;
  padding: 20px;
}

.contact-form-container-internal .contact-para {
  font-size: 1rem;
  color: black;
}

.contact-form {
  display: block;
  margin: auto;
  width: 95%;
}

.contact-form p {
  margin-top: 10px;
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

.contact-form .common-input {
  border: none;
  border-bottom: 0.1px solid #000000;
  width: 100%;
  height: 25px;
  background: transparent;
  color: black;
  outline: none;
}

.contact-form #message{
  height: 100px;
}

.contact-form .common-input:active .contact-form P {
  color: #FC7E08;
}

.contact-form .common-input:focus {
  border: none;
  background: transparent;
  border-bottom: #FC7E08 solid 0.3px;
}

.contact-form .submit-btn {
  font-size: 1.2rem;
  color: black;
  border: solid 2px black;
  border-radius: 5px;
  font-weight: 400;
}

.contact-form .submit-btn:hover {
  border: solid 2px #FC7E08;
  color: #FC7E08;
}